body {background-color: #1a1918;
    font-family: 'Roboto', sans-serif;
}
.startseite{
    max-width: 73%;
    margin-left: 13.5%;
    color: white;
}
.unterseite{
    margin-top: 10%;
    margin-left: 13.5%;
    max-width: 1400px;
    color: white;
}
iframe {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    display: block;
}
/* Footer */
footer {
    margin-left: 27%;
    margin-top: 7%;
    height:60px;
}

.zeit {
    line-height: 50%;
    color: white;
}
/* Header */
.header {
    max-width: 100%;
    height: 10px;
    margin-top: 10px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin-top: 4%;
    margin-left: 13.5%;

    }
.mySlides {
    display: none
    }
/* Next und prev Button  */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
/* Next BUtton auf rechte Seite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

/* fading */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


input[type=search_header] {
    width: 10%;
    font-size: 16px;
    background-color: white;
    background-image: url('img/search.png');
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    float: right;
    }
input[type=search_header]:focus {
    width: 15%;
    }
.logo{
    position: absolute;
    margin-left: 36%;
    z-index: -1;
}
.btn-group button {
    width: 9%;
    min-height: 50px;
    background-color: #F33A2B;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: 0px;
    float: left;
    cursor: pointer;
    transition-duration: 0.4s;
    }

.btn-group button:hover {
    background-color: darkred;
    }

.btn-group2 button {
    width: 10%;
    min-height: 50px;
    float: right;
    background-color: #F33A2B;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-group2 button:hover {
    background-color: darkred;
}
.btn-group3 button {
    width: 3%;
    background-image: url(img/home.png);
    background-size: 35px 35px;
    background-position: 50%, 10%;
    background-repeat: no-repeat;
    background-color: #F33A2B;
    color: white;
    min-height: 50px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border: 0px;
    float: left;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-group3 button:hover {
    background-color: darkred;
}
/* Liste */
ul {
    float: left;
    list-style-type:none;
}

img {vertical-align: middle;}

.text_spiele {

    min-height: 500px;
    margin-left: 30%

}
.bilder_spiele {
    min-height: 300px;
    min-width: 370px;
    width: 24%;
    float: left;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Hyperlinks-Style*/
a:visited {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


